<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wishlists</title>
</head>
  <body>
    <header>
        <h1>Wish Lists</h1>
    </header>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
