<h2> Sign my Guest Book</h2>


<form action="/guests" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="text" name="msg" placeholder="Enter a Message">
  <input type="submit" value="Submit">

</form>

