<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Books App</title>
  </head>
  <body>
    <header>
        <h1>Welcome to WDI Instagram</h1>
        <a href="/">Home</a>
        <a href="/books/new">New Book</a>
    </header>
    <section>
      <%= yield %>

    </section>





  </body>
</html>
