<div class="user_input">
  <form action='/user' method='get'>
    <input type="text" name='username_input' placeholder="Username">
    <input type="submit" value='Find User'>
  </form>
</div>

<div class="user_input">
  <form action='/stock' method='get'>
    <input type="text" name='stock_symbol' placeholder="Ticker">
    <input type="submit" value='Last Price'>
  </form>
</div>