<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Facebook Search</title>
</head>
<body>
  <h1>Quin's FB and Stock App</h1>
  <section>
    <a href="/">Home</a>
<!--     <a href="/user">Facebook</a> -->
   <!--  <a href="/stock">Goog Info</a> -->
<!--     <a href="/stock">Stock</a> -->
  </section>

  <%= yield %>
</body>
</html>