<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sinatrek</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <%= yield %>
<script src="scripts/main.js"></script>
</body>

</html>
