<h1>Login</h1>
<form action="/login" method ="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <label for="password" id="password">Password</label>
  <input type="password" name="password" id="password">

  <label for="password" id="password_confirmation">Password Conf</label>
  <input type="password" name="password_confirmation" id="">
  <input type="submit" value="login">
</form>