<h1>Yelp!</h1>
<form action="/results" method="get">

  <label for="query">Search</label>
  <input type="text" name="query" id='query'><br>

  <label for="asian">Asian</label>
  <input type="checkbox" name="cuisine[]" value="asian" id="asian"><br>
  <label for="pizza">Pizza</label>
  <input type="checkbox" name="cuisine[]" value="pizza" id="pizza"><br>
  <label for="italian">Italian</label>
  <input type="checkbox" name="cuisine[]" value="italian" id="italian"><br>

  <select name="location" id="" >
    <option value="bk">Brooklyn</option>
    <option value="mn">Manhattan</option>
  </select>

  <label for "cheap_food">Cheap</label>
  <input type="radio" name="cheap" value="true" id="cheap_food">

  <label for "cheap_food">Expensive</label>
  <input type="radio" name="cheap" value="false" id="expensive_food">

  <input type="submit" value="Search">
</form>

<h1>Login</h1>
<form action="" method ="">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <label for="password" id="password">Password</label>
  <input type="password" name="password" id="password">

  <label for="password" id="password_confirmation">Password Conf</label>
  <input type="password" name="password_confirmation" id="">
  <input type="submit" value="login">
</form>