<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="mom">Mom</a></li>
      <li><a href="/dad">Dad</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/search_deux">Search Deux</a></li>
    </ul>
  </nav>
  <%= yield %>

</body>
</html>