body {
  background-image: url("http://www.startrek.com/uploads/assets/articles/StarTrekEnterpriseCutaway-1.jpg");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}

section {
  height: 500px;
  width: 500px;
}

article {
  height: 500px;
  width: 500px;

}
